#logo {
  position: relative;
  top: -22px;
}

// Secondary Nav
#top-header a {
  text-decoration: none;
  transition: color .2s ease;

  &:hover, &:active, &:focus {
    color: $color-blue-a11y;
    text-decoration: underline;
  }
}

#et-top-navigation, #et-secondary-menu {
	font-weight: normal;
}

// Primary Nav
#top-menu li {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    border: 17px solid transparent;
    opacity: 0;
    transition: opacity .3s;
  }

  a:first-child {
    padding-right: 0 !important;
    padding-left: 20px;
    &::after {
      display: none;
    }
  }

  &:hover, &:active, &:focus {
    &::before {
      opacity: 1;
    }
  }

  // Engagement (Blue)
  &.menu-item-143 {
    .sub-menu {
      border: 2px solid $color-blue-dark;
    }

    &::before {
      border-bottom-color: $color-blue-dark;
    }

    &.current-menu-ancestor {
      & > a {
        color: $color-blue-a11y;
      }

      .sub-menu {
        .current-menu-item > a {
          color: $color-blue-a11y;
        }
      }
    }
  }
  // Leadership (Orange)
  &.menu-item-144 {
    .sub-menu {
      border: 2px solid $color-orange-dark;
    }

    &::before {
      border-bottom-color: $color-orange-dark;
    }

    &.current-menu-ancestor {
      & > a {
        color: $color-orange-a11y;
      }

      .sub-menu {
        .current-menu-item > a {
          color: $color-orange-a11y;
        }
      }
    }
  }
  // Lending (Green)
  &.menu-item-145 {
    .sub-menu {
      border: 2px solid $color-green-dark;
    }

    &::before {
      border-bottom-color: $color-green-dark;
    }

    &.current-menu-ancestor {
      & > a {
        color: $color-green-a11y;
      }

      .sub-menu {
        .current-menu-item > a {
          color: $color-green-a11y;
        }
      }
    }
  }
  // Research (Yellow)
  &.menu-item-146 {
    .sub-menu {
      border: 2px solid $color-yellow-dark;
    }

    &::before {
      border-bottom-color: $color-yellow-dark;
    }

    &.current-menu-ancestor {
      & > a {
        color: $color-yellow-a11y;
      }

      .sub-menu {
        .current-menu-item > a {
          color: $color-yellow-a11y;
        }
      }
    }
  }
}

#top-menu .sub-menu {
  padding-top: 10px;

  li {
    padding: 0;
    width: 100%;

    &::before {
      display: none !important;
    }

    a {
      width: 100%;
      text-transform: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.35em;
      padding: 10px 20px !important;

      &:hover, &:focus, &:active {
        text-decoration: underline;
        background: none;
        opacity: 1;
      }
    }

    &.current-menu-item > a {
      font-weight: bold;
    }
  }
}
